/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}

html {
	font-size: 15px;
}

body {
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .02em;
	text-align: center;
	color: #44545E;

	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/20160618_FelixUniversityGraduation_edited.jpg');
	background-attachment: fixed;
	height: 100vh;
	min-width:900px;
}

/* Responsive images */
img {
	max-width: 100%;
}

/* ----------------------------------------
Typography
------------------------------------------- */
p {
	font-family: 'Lato', sans-serif;
	text-transform: none;
	line-height: 1.4;
}

h1, h2, h3, h4 {
	font-weight: 600;
}

h1 {
	font-size: 37.5px;
	font-size: 2.5rem;
	letter-spacing: 12px;
	letter-spacing: .8rem;
}

.vertical-center h1 {
	margin: -8em 0 0 20em;
}

.vertical-center h2 {
	margin: 1em 0 0 25em;
}

h2 {
	margin-bottom: 45px;
}


h3 {
	margin-bottom: 45px;
	margin-bottom: 3rem;
}

a {
	text-decoration: none;
	color: #7B98AA;
	font-weight: 600;
	transition: all .3s ease-in-out;
}

a:hover {
	color: #44545E;
}



/* ----------------------------------------
Lists
------------------------------------------- */
ul a {
	text-transform: none;
}

ul {
	padding: 0;
	list-style: none;
}

li {
	display: block;
	text-align: left;
}



/* ----------------------------------------
Layout
------------------------------------------- */
section {
	padding: 105px 30px;
	padding: 7rem 2rem;
}

.wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.grid-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.col-third {
	width: 32%;
}

.col-half {
	width: 49.2%;
}

.vertical-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap:  wrap;
	    flex-wrap:  wrap;
}

.callout {
	background-color: #007889;	
}

/*.callout #testimonials {
	background-color: rgba(0, 120, 137, 0.5);
}*/

/* ----------------------------------------
Header
------------------------------------------- */
header {
	padding-top: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/20160618_FelixUniversityGraduation_edited.jpg');
	background-attachment: fixed;
	height: 100vh;
	min-width:900px;
}

#welcome {
	margin: 0 40em 0 2em;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #007889;
	z-index: 100;
}

nav li {
	display: inline-block;
	margin-left: 4em;
	margin-bottom: -5em;
}

nav a {
	font-weight: 600;
	letter-spacing: 0.75px;
	letter-spacing: .05rem;
	/*padding: 3px 70px;*/
	padding: 1rem 3.5rem 5rem;
	margin: -1em -10em 0 0;
	display: inline-block;
	border-bottom: none;
	text-transform: uppercase;
	color: white;
}


nav a:hover {
	color: #EA7200;
}

h1 a:hover {
	color: #EA7200;
}

.hamburger {
	display: none;
}

h1 a,
h1,
header h2 {
	color: #fff;
}

/* ----------------------------------------
Buttons
------------------------------------------- */
button {
	cursor: pointer;
	outline: 0;
	border: 2px solid #44545E;
	color: #44545E;
	padding: 8px 25.5px;
	padding: 8px 1.7rem;
	background-color: transparent;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12.299px;
	font-size: .82rem;
	letter-spacing: 1.2px;
	letter-spacing: .08rem;
	transition: all .3s ease-in-out;
}

button:hover {
	background-color: #44545E;
	color: white;
	font-weight: 600;
}

/* ----------------------------------------
About
------------------------------------------- */

.inspirational_quote blockquote {
	font-size: 15px;
	text-transform: uppercase;
/*	margin-top: -1em;
	border: 2px solid #041E41;
	background-color: #FF4C00;*/
	padding: 1em 3em 1em 3em;
	/*color: #FF4C00;*/
}

.inspirational_quote h2 {
	font-size: 15px;
	/*margin-bottom: 100em;*/
}

#about .callout.about{
	background-color: rgba(0, 120, 137, 0.2);
}

.about article {
	max-width: 800px;
	font-size: 17.6px;
	font-size: 1.1rem;
	line-height: 1.1;
	color: #fff;
	text-align: center;
}

.about h2 {
	margin-top: 0.5em;
	margin-bottom: 1em;
	color: #fff;
}


/* ----------------------------------------
Portfolio
------------------------------------------- */

#portfolio {
	background-color: #fff;
}

#portfolio h2 {
	margin-bottom: 1em;
	text-align: center;
}

.carousel-item img {
	margin-bottom: 2em;
	height: auto;
	width: 70%;
}

li {
	margin-bottom: 5em;
}

h3, p {
	text-align: center;
	font-weight: 600;
}

#myCarousel .active {
	background-color: #fff;
}

#myCarousel li{
   width: 10px;
   height: 10px;
   margin: 0 20px 60px 0;
   text-indent: 0;
   cursor: pointer;
   border: none;
   border-radius: 50%;
   background-color:#007889;
   box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}

/* ----------------------------------------
Testimonials
------------------------------------------- */

#testimonials {
	background-color: rgba(255, 221, 0, 0.7);
}

.testimonials article {
	max-width: 700px;
	font-size: 17.6px;
	font-size: 1.1rem;
	font-weight: 500;
	line-height: 1.1;
	color: #000;
	text-align: left;
	/*word-break: break-all;*/
	word-break: break-word;
	/*hyphens: manual;*/
	margin-bottom: 2em;
	text-transform: none;
	background-color: rgba(255, 221, 0, 0.7);
	padding: 3em 5em 3em 5em;
	width: 30%;
}

/*.testimonials p {
	text-transform: none;	
}*/

.testimonials h2 {
	margin-bottom: 1em;
	text-transform: uppercase;
	/*text-align: center;*/
}

.testimonials p {
	margin-bottom: 3em;
}

/*@-webkit-keyframes fade-in{
    from{
        opacity:1;
        top:0px;
    }
    to{
        opacity:0;
        top:0px;
    }
}
.testimonial_one {
    display:inline;
    position:relative;
    top:0px;
    -webkit-animation:fade-in 1s infinite;

}
.testimonial_one {
    opacity:0;
    display:inline;
    position:relative;
    margin-left:-56px;
    -webkit-animation:fade-in 1s infinite;
    -webkit-animation-delay:0.5s;
}*/

/* ----------------------------------------
Forms
------------------------------------------- */

#contact {
	background-color: #fff;
	padding-top: 2rem;
	text-align: center;
}

form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

form button {
	width: 100%;
}

textarea {
	width: 100%;
	display: block;
}

input, textarea {
	border: 2px solid #44545E;
	margin-bottom: 12px;
	margin-bottom: .8rem;
	padding: 10px 10px;
	outline: 0;
	/*font-weight: bold;*/
}

::-webkit-input-placeholder {
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 800;
}

:-moz-placeholder { /* Firefox 18- */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600;
}

:-ms-input-placeholder {  
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600; 
}

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
	background-color: #000;
	overflow: auto;
}

.copyright {
	border-top: 2px solid #44545E;
	padding: 15px 0 3px;
	padding: 1rem 0 .2rem;
	color: #fff;
	text-align: center;
}

/* ----------------------------------------

Error Styles
------------------------------------------- */
.form-group input,
.form-group:last-of-type {
	width: 100%;
}

.error-message {
	margin: 8px 0 12px;
  text-align: left;
  font-size: .9rem;
  color: #ED5254;
  display: none;
}

.error {
	border: 2px solid #ED5254;
}

/* ----------------------------------------
Media Queries
------------------------------------------- */
@media only screen and (max-width: 790px) {
	nav a {
		padding: .1rem 2rem;
	}

	.col-third {
		width: 100%;
	}

	.col-third img {
		display: block;
		margin: 3rem auto 1rem;
	}

	.col-third h3 {
		margin-bottom: .5rem;
	}

	.col-third:first-of-type img {
		margin-top: 0;
	}




}

@media only screen and (max-width: 560px) {
	html {
		font-size: 14px;
	}

	/*nav a {
		padding:6em -60em 3em 0;
	}*/

	nav a {
	font-weight: 600;
	letter-spacing: 15px;
	letter-spacing: .05rem;
	/*padding: 3px 70px;*/
	padding: 1rem 3.5rem 5rem;
	margin: -1em -10em 0 0;
	display: inline-block;
	border-bottom: none;
	text-transform: uppercase;
	color: white;
}

	nav ul {
		display: none;
	}

/*	nav li {
	display: inline-block;
	margin-left: 1em;
	margin-bottom: -5em;
}*/


	nav {
		background-color: transparent;
	}

	.hamburger {
		display: block;
		color: #fff;
		font-size: 1.7rem;
		position: absolute;
		top: 10px;
		left: 2px;
	}

<<<<<<< HEAD
}
=======
}



