body {
	font-family: 'Raleway', sans-serif;
}

header {
	padding: 1em 1em;
	background-color: #007889;
}

#welcome {
	margin-left: 10em;
}

nav {
	margin: -1em 0 0 70em;	
}

a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}